.choose-state{
  color: #EAEFEE;
  margin: 0.5em;
  text-align: center;
}

.us-state-map {
  flex-direction: row;
  height: 50vh;
  width: 100vw;
  background-color: #213133;
}

.outlines {
  height: 100vh;
  width: 100vw;;
}

path {
  pointer-events: all;
  fill: #FFE1D7;
}
path:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* rose FFE1D7 */