@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  background-color: #213133;
  margin: 0;
}

nav{
  background-image: linear-gradient(#0C1C1F,#213133 );
  display: flex;
  justify-content: center;
  align-content: center;
  height: 12vh;
  margin: 0;
  width: 100vw;
}

.heading {
  color: #EAEFEE;
  align-self: center;
  text-align: center;
  font-size: 3em;
}

a {
  height: 5vh;
  margin-top: 1em;
  text-decoration: none;
}

.future-trip-nav{
  color: #FFFFFF;
  align-self: flex-end;
}


.App {
  text-align: center;
}


