* {
  margin: 0;
}

html {
  height: 100vh;
  background-color: #254441;
  margin: 0;
}

nav{
  background-image: linear-gradient(#1F3836,#254441 );
  height: 10vh;
  margin: 0;
}

h1 {
  color: #E8EDEC;
  margin: 0;
}


.App {
  text-align: center;
}


