@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.description {
  margin-top: 3em;
  padding: 1.5em;
  color: #FFFFFF;
  font-size: 1.3em;
}

.details{
  position: relative;
}

.detail-image{
  width: 100vw;
  height: 30vh;
  overflow: none;
  opacity: 0.7;
  /* position: relative; */
}

.details-address{
  margin: 0 0.5em 0.5em 0.5em;
  font-size: 1.3em;
}

.details-name{
  margin: 0.5em 0.5em 0 0.5em;
  font-size: 1.4em;
}


.name-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 18vh;
  border-radius: 0.5em;
  background-color: #DFE0E2;
  color: #0C1C1F;
  text-align: center;
  position: absolute;
  top: 11em;
  left: 5em;
}

.name-address-details{
  font-family: 'Montserrat', sans-serif;
}